@use "@/styles/breakpoints" as *;

.bottom {
  background-color: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(4px);
  width: calc(100vw - var(--bar-size) - calc(var(--spacing) * 4));
  padding: calc(var(--spacing) * 8) 0;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: calc(-50vw + (var(--bar-size) / 2) + var(--spacing));
  margin-right: -50vw;
  border: var(--border-default-style);
  border-width: 1px 0 0 0;
  .bottomTop {
    .bottomTopLeft {
      display: flex;
      align-items: center;
      margin-bottom: var(--spacing-vertical);
      @include down(sm) {
        justify-content: center;
      }
      .bottomMark {
        svg {
          width: 25px;
          height: 25px;
          margin-right: 20px;
        }
      }
    }
    .bottomNav {
      align-items: flex-start;
      margin-top: var(--spacing-horizontal);
      margin-bottom: var(--spacing-horizontal);
      @include down(sm) {
        align-items: center;
      }
      li {
        a {
          white-space: nowrap;
          width: auto;
          color: var(--text-color-dark);
          &:hover {
            color: var(--text-color);
          }
        }
      }
    }
  }
  .bottomFooter {
    font-size: var(--font-size-small);
    @include down(sm) {
      text-align: center;
      flex-direction: column;
    }
    .bottomSubnav {
      display: flex;
      @include down(sm) {
        flex-direction: column;
      }
      a {
        margin-right: 30px;
        @include down(sm) {
          margin-top: 10px;
          margin-bottom: 10px;
          margin-right: 0;
        }
      }
    }
  }
}
