.bottom {
  background-color: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(4px);
  width: calc(100vw - var(--bar-size) - calc(var(--spacing) * 4));
  padding: calc(var(--spacing) * 8) 0;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: calc(-50vw + (var(--bar-size) / 2) + var(--spacing));
  margin-right: -50vw;
  min-height: 80%;
  border: var(--border-default-style);
  border-width: 1px 0 0 0;
}
