$breakpoints: (
  xs: 360px,
  sm: 480px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
);

@mixin up($bp) {
  @media (min-width: map-get($breakpoints, $bp)) {
    @content;
  }
}

@mixin down($bp) {
  @media (max-width: map-get($breakpoints, $bp)) {
    @content;
  }
}
