@font-face {
  font-family: "ObjectSansHeavy";
  src: url("/fonts/objectsans-heavy-webfont.woff2") format("woff2"),
    url("/fonts/objectsans-heavy-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ObjectSans";
  src: url("/fonts/objectsans-regular-webfont.woff2") format("woff2"),
    url("/fonts/objectsans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NeueMachinaLight";
  src: url("/fonts/ppneuemachina-inktraplight-webfont.woff2") format("woff2"),
    url("/fonts/ppneuemachina-inktraplight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NeueMachina";
  src: url("/fonts/ppneuemachina-inktrapregular-webfont.woff2") format("woff2"),
    url("/fonts/ppneuemachina-inktrapregular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NeueMachinaultraBold";
  src: url("/fonts/ppneuemachina-inktrapultrabold-webfont.woff2")
      format("woff2"),
    url("/fonts/ppneuemachina-inktrapultrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
