@use "./breakpoints" as *;

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(var(--spacing) * 4);
  padding-right: calc(var(--spacing) * 4);

  // domyślnie na małych ekranach zajmuje całą szerokość
  max-width: 100%;

  @include up(sm) {
    max-width: 480px;
  }

  @include up(md) {
    max-width: 768px;
  }

  @include up(lg) {
    max-width: 1024px;
  }

  @include up(xl) {
    max-width: var(--container-max);
  }
}

.h100 {
  min-height: 100%;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.direction-column {
  flex-direction: column;
}

.highlight {
  color: var(--color-brand-primary);
}
