@use "@/styles/breakpoints" as *;

form {
  margin: calc(var(--spacing-horizontal) / 2) auto var(--spacing-horizontal)
    auto;
  .row {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    @include down(sm) {
      flex-direction: column;
    }
    .field {
      width: 50%;
      @include down(sm) {
        width: 100%;
      }
    }
  }
  .field {
    display: grid;
    gap: 6px;
    label {
      font-size: 14px;
      font-weight: 600;
    }
    .input {
      border: var(--border-color) var(--border-style) var(--border-width);
      border-radius: var(--radius);
      backdrop-filter: blur(4px);
      background-color: rgba(255, 255, 255, 0.05);
      padding: 10px 12px;
      outline: none;
      transition: box-shadow 0.2s, border-color 0.2s, background-color 0.2s;
      color: white;
      font-size: var(--font-size-default);
      font-family: var(--font-primary);
    }
    .input:focus {
      border-color: #9ca3af;
      background-color: rgba(255, 255, 255, 0.01);
      box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.02);
    }
  }

  button {
    border: var(--border-default-style);
    border-color: white;
    background: none;
    font-family: var(--font-primary);
    color: white;
    border-radius: var(--radius);

    padding: 14px 20px 14px 30px;
    height: auto;
    line-height: 100%;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    display: inline-flex;
    align-items: center;
    svg {
      margin-left: 5px;
      width: 20px;
      height: 20px;
      path {
        transition: fill 0.3s linear;
      }
    }
    &:hover {
      background-color: white;
      color: black;
      svg {
        path {
          fill: black;
        }
      }
    }
  }
}
