@use "@/styles/globals";

.aboutMe {
  .boxes {
    position: relative;
  }
  > h2 {
    text-align: center;
    margin: calc(var(--spacing-vertical) * 2) auto;
    max-width: var(--heeader-max-width);
    font-size: var(--font-size-xxl);
  }
  .buttonToAbout {
    position: relative;
    top: -150px;
  }
}
