.button {
  border: var(--border-default-style);
  border-color: white;
  background: none;
  font-family: var(--font-primary);
  color: white;
  border-radius: var(--radius);
  padding: 0 calc(var(--spacing) * 2);
  height: calc(var(--bar-size) - (var(--spacing) * 3));
  line-height: calc(var(--bar-size) - (var(--spacing) * 3));
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: inline-flex;
  align-items: center;
  svg {
    margin-left: 5px;
    width: 20px;
    height: 20px;
    path {
      transition: fill 0.3s linear;
    }
  }
  &.buttonBig {
    padding: 14px 20px 14px 30px;
    height: auto;
    line-height: 100%;
  }
  &:hover {
    background-color: white;
    color: black;
    svg {
      path {
        fill: black;
      }
    }
  }
}
