@use "@/styles/_mixins.scss" as m;
@use "@/styles/breakpoints" as *;

footer {
  position: relative;
  padding: 0 calc(var(--spacing) * 2) 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size-small);
  color: var(--text-color-dark);

  border: var(--border-default-style);
  border-width: 1px 0 0 0;
  height: var(--bar-size);

  @include m.blur-bar();

  .markFooter {
    background-color: #3663c44c;
    width: var(--bar-size);
    height: var(--bar-size);
    border: var(--border-default-style);

    border-width: 0 1px 0 0;
    svg {
      width: 25px;
      height: 25px;
    }
  }

  .breadcrumbs {
    margin-right: auto;
    margin-left: calc(var(--spacing) * 2);
  }

  .copyright {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
