header {
  &.header {
    border: var(--border-default-style);
    border-width: 0 0 1px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--bar-size);

    background-color: rgba(2, 10, 19, 0.1);
    backdrop-filter: blur(1px) saturate(160%);
    -webkit-backdrop-filter: blur(1px) saturate(160%);
  }
}
