@use "@/styles/keyframes";

.loaderMark {
  svg {
    width: 60px;
    height: 60px;
    overflow: visible;
    path {
      &.slash {
        transition: transform 0.5s ease-in-out;
        // transition: none;
        transform-origin: 50% 50%;
      }
      &.tag-left,
      &.tag-right {
        transition: transform 0.5s ease-in-out;
      }
    }
  }
  &.active {
    svg {
      path {
        &.slash {
          animation: spin 0.7s ease-in-out;
          fill: var(--color-brand-secondary);
        }
        &.tagLeft {
          animation: tagLeftShift 1s ease-in-out;
          fill: var(--text-color);
        }
        &.tagRight {
          animation: tagRightShift 1s ease-in-out;
          fill: var(--text-color);
        }
      }
    }
  }
}
