@use "@/styles/keyframes";

.loaderMark {
  svg {
    width: 100px;
    height: 100px;
    overflow: visible;
    path {
      &.slash {
        transition: none;
        transform-origin: 50% 50%;
      }
      &.tag-left,
      &.tag-right {
        transition: transform 0.5s ease-in-out;
      }
    }
  }
  &.active {
    svg {
      path {
        &.slash {
          transform: rotateZ(180deg);
          transition: transform 0.5s ease;
        }
        &.tagLeft {
          animation: tagLeftShift 0.8s ease-in-out;
          fill: var(--color-brand-primary);
        }
        &.tagRight {
          animation: tagRightShift 0.8s ease-in-out;
          fill: var(--color-brand-primary);
        }
      }
    }
  }
}
