@use "@/styles/keyframes";

ul {
  &.nav {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    > li {
      &:not(:last-of-type) {
        margin-bottom: 20px;
      }
      a {
        position: relative;
        display: flex;
        align-items: center;
        svg {
          path {
            transition: fill 0.3s ease-in-out;
          }
        }
        .tooltip {
          position: absolute;
          transition: opacity 0.3s ease-in-out;
          left: 40px;
          top: 50%;
          transform: translateY(-50%);
          pointer-events: none;
        }
        &.active {
          svg {
            path {
              fill: var(--color-brand-secondary);
            }
          }
        }
      }
      &.hovered {
        a {
          .tooltip {
            animation: fadeShow 0.4s ease-in-out;
            animation-fill-mode: both;
          }
        }
      }
    }
  }
}
