@use "@/styles/keyframes";

ul {
  &.nav {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    > li {
      &:not(:last-of-type) {
        margin-bottom: 10px;
      }
      a {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: var(--bar-size);
        height: var(--bar-size);
        svg {
          path {
            transition: fill 0.3s ease-in-out;
          }
        }
        .tooltip {
          position: absolute;
          transition: opacity 0.3s ease-in-out;
          left: 50px;
          top: 50%;
          transform: translateY(-50%);
          pointer-events: none;
          background: white;
          border-radius: var(--radius);
          padding: var(--spacing) calc(var(--spacing) * 2);
          font-size: var(--font-size-small);
          color: black;
          &::before {
            content: "";
            position: absolute;
            left: -5px;
            top: 50%;
            transform: translateY(-50%);
            width: 0;
            height: 0;
            border-top: 6px solid transparent;
            border-bottom: 6px solid transparent;

            border-right: 6px solid white;
          }
        }
        &.active {
          svg {
            path {
              fill: var(--color-brand-secondary);
            }
          }
        }
      }
      &.hovered {
        a {
          .tooltip {
            animation: fadeShow 0.4s ease-in-out;
            animation-fill-mode: both;
          }
        }
      }
    }
  }
}
