@use "@/styles/keyframes";

.mark {
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    overflow: visible;
    path {
      &.slash {
        transition: none;
        transform-origin: 50% 50%;
      }
      &.tag-left,
      &.tag-right {
        transition: transform 0.5s ease-in-out;
      }
    }
  }
  &:hover {
    svg {
      path {
        &.slash {
          transform: rotateZ(180deg);
          transition: transform 0.5s ease;
        }
        &.tagLeft {
          animation: tagLeftShift 0.8s ease-in-out;
          fill: var(--color-brand-primary);
        }
        &.tagRight {
          animation: tagRightShift 0.8s ease-in-out;
          fill: var(--color-brand-primary);
        }
      }
    }
  }
}
